.text_devis {
    /* Voulez-vous un devis ? */

    position: absolute;
    width: 544px;
    height: 192px;
    left: 240px;
    top: 202px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;

    color: #FFFFFF;

}

.contact-header {

    margin-right: 100%;
    margin-top: 2%;

}

.box-question {

    width: 90%;
    height: auto;
    box-shadow: 5px;

    background: #FFFFFF;
    border-radius: 26px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

}

.quiz0 {
    height: 39px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    /* identical to box height, or 195% */
    text-align: center;
    letter-spacing: -0.656526px;
    text-align: start;
    color: #3B3A3A;
}

.type_site {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;

    text-align: center;
    letter-spacing: -0.656526px;

    color: #000000;
    text-align: start;


}


td,
.ht {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    letter-spacing: -0.656526px;
    color: #3B3A3A;


}


/* Format pc */

@media screen and (min-width: 768px) {
    #get_devis {
        margin-left: 20%;
    }

    .afterGetDevis {
        position: absolute;
        width: 964px;
        height: 78px;
        left: 200px;
        top: 856px;
        line-height: 39px;
    }

    #get_devis h1 {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;
        color: #000000;


    }

    #vouloir_devis {

        margin-top: -50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 96px;

        color: #FFFFFF;


    }

    .checkbox1 {

        box-sizing: border-box;
        position: absolute;
        width: 31px;
        height: 31px;
        left: 690px;
        top: 900px;
        background: #FFFFFF;
        border: 1px solid #6C757D;

    }

    .checkbox2 {
        box-sizing: border-box;

        position: absolute;
        width: 31px;
        height: 31px;
        left: 850px;
        top: 900px;

        background: #FFFFFF;
        border: 1px solid #6C757D;

    }

    #cadre1,
    #cadre2 {
        width: 50px;
        height: 50px;
        background-color: #3461AB;
    }

    #cadre1 {
        position: relative;
        left: 30px;
        top: 0px;
    }

    #cadre2 {
        position: absolute;
        left: 382px;
        top: 712px;
    }

    .input_form {

        box-sizing: border-box;
        width: 400px;
        height: 50px;
        /* left: calc(50% - 400px/2 - 1px); */
        border: 2px solid #3461AB;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;

    }

    #monsieur {
        position: absolute;
        width: 68px;
        height: 23px;
        left: 750px;
        top: 910px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;

        display: flex;
        align-items: center;
        text-align: center;

        color: #1966B3;


    }

    #madame {

        position: absolute;
        width: 68px;
        height: 23px;
        left: 600px;
        top: 910px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;

        display: flex;
        align-items: center;
        text-align: center;

        color: #1966B3;

    }

    .input_nom {
        margin-top: 15%;
    }

    .submit_demande {
        width: 400px;
        height: 50px;
        background: #3461AB;
        border-radius: 10px;
        margin-bottom: 10%;
        margin-left: 30%;
    }

    .suivant {
        margin-bottom: 10%;
         width: 196px;
        height: 50px;
        background: #3461AB;
        border-radius: 5px;
    }

    .retour {

        box-sizing: border-box;
        margin-bottom: 10%;
        width: 196px;
       height: 50px;
        border: 2px solid #3461AB;
        border-radius: 5px;

    }

    .site_internet {
        position: absolute;
        width: 980px;
        height: 56px;
        left: 280px;
        top: 187px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;
        color: #FFFFFF;
    }

    .choice {

        box-sizing: border-box;
        width: 1001px;
        height: 74px;

        background: #F6F6F6;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 26px;
    }


    .custom-control-input {

        width: 22px;
        height: 22px;
        background: #3461AB;
        margin-left: 5%;
        margin-top: 3%;

    }



    .custom-control-label {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 39px;
        /* identical to box height, or 162% */
        text-align: center;
        letter-spacing: -0.656526px;

        color: #3B3A3A;
        margin-left: 2%;
    }







}

/* Format téléphone */

@media screen and (max-width: 767px) {
    #get_devis {
        margin-left: 10%;
    }

    .afterGetDevis {
        position: absolute;
        width: 100%;
        height: 78px;
        left: 0px;
        top: 500px;
        line-height: 25px;
    }

    #get_devis h1 {


        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 140%;
        color: #000000;
    }

    #cadre1,
    #cadre2 {
        width: 30px;
        height: 30px;
        background-color: #3461AB;
    }

    #cadre1 {
        position: relative;
        left: 0px;
        top: 0px;
    }

    #cadre2 {
        position: absolute;
        left: 20px;
        top: 360px;
    }

    .input_form {

        box-sizing: border-box;
        width: 100%;
        height: 50px;
        /* left: calc(50% - 400px/2 - 1px); */
        border: 2px solid #3461AB;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;

    }


    .checkbox1 {

        box-sizing: border-box;
        position: absolute;
        width: 31px;
        height: 31px;
        left: 170px;
        top: 550px;
        background: #FFFFFF;
        border: 1px solid #6C757D;

    }

    .checkbox2 {
        box-sizing: border-box;

        position: absolute;
        width: 31px;
        height: 31px;
        left: 310px;
        top: 550px;

        background: #FFFFFF;
        border: 1px solid #6C757D;

    }

    #monsieur {

        position: absolute;
        width: 31px;
        height: 31px;
        left: 200px;
        top: 555px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;

        display: flex;
        align-items: center;
        text-align: center;

        color: #1966B3;


    }

    #madame {


        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;

        display: flex;
        align-items: center;
        text-align: center;

        color: #1966B3;

    }

    .suivant {
        margin-bottom: 10%;
         width: 196px;
        height: 50px;
        background: #3461AB;
        border-radius: 5px;
    }

    .retour {

        box-sizing: border-box;
        margin-bottom: 10%;
        width: 196px;
       height: 50px;
        border: 2px solid #3461AB;
        border-radius: 5px;

    }

    .site_internet {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;
        color: #FFFFFF;
    }

    .choice {

        box-sizing: border-box;
        width: 100%;
        height: 74px;

        background: #F6F6F6;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 26px;
    }


    .custom-control-input {

        width: 22px;
        height: 22px;
        background: #3461AB;
        margin-left: 5%;
        margin-top: 3%;

    }



    .custom-control-label {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 39px;
        /* identical to box height, or 162% */
        text-align: center;
        letter-spacing: -0.656526px;

        color: #3B3A3A;
        margin-left: 2%;
    }






}

.afterGetDevis {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.656526px;
    color: #000000;

}



/* .cercle {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 760px;
    top: 30px;
} */
