.text_devis {
    /* Voulez-vous un devis ? */

    position: absolute;
    width: 544px;
    height: 192px;
    left: 240px;
    top: 202px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;

    color: #FFFFFF;

}

.contact-header {

    margin-right: 100%;
    margin-top: 2%;

}




/* Format pc */

@media screen and (min-width: 768px) {
    #get_devis {
        margin-left: 20%;
    }

    .afterGetDevis {
        position: absolute;
        width: 964px;
        height: 78px;
        left: 200px;
        top: 856px;
        line-height: 39px;
    }

    #get_devis p {

        position: absolute;
        width: 469px;
        height: 56px;
        left: 500px;
        top: 700px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;


        color: #000000;


    }

    #vouloir_devis {

        margin-top: -50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 96px;

        color: #FFFFFF;


    }

    .checkbox1 {

        /* Rectangle 40 */

        box-sizing: border-box;

        position: absolute;
        width: 31px;
        height: 31px;
        left: 668px;
        top: 910px;

        background: #FFFFFF;
        border: 1px solid #6C757D;



    }

    .checkbox2 {
        box-sizing: border-box;

        position: absolute;
        width: 31px;
        height: 31px;
        left: 830px;
        top: 910px;

        background: #FFFFFF;
        border: 1px solid #6C757D;

    }

    #cadre1,
    #cadre2 {
        width: 50px;
        height: 50px;
        background-color: #3461AB;
    }

    #cadre1 {
        position: relative;
        left: 0px;
        top: 0px;
    }

    #cadre2 {
        position: absolute;
        left: 350px;
        top: 712px;
    }


}

/* Format téléphone */

@media screen and (max-width: 767px) {
    #get_devis {
        margin-left: 10%;
    }

    .afterGetDevis {
        position: absolute;
        width: 100%;
        height: 78px;
        left: 0px;
        top: 500px;
        line-height: 25px;
    }

    #get_devis p {

        position: absolute;
        width: 469px;
        height: 56px;
        left: 0px;
        top: 360px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        color: #000000;
    }

    #cadre1,
    #cadre2 {
        width: 30px;
        height: 30px;
        background-color: #3461AB;
    }

    #cadre1 {
        position: relative;
        left: 0px;
        top: 0px;
    }

    #cadre2 {
        position: absolute;
        left: 20px;
        top: 360px;
    }
}

.afterGetDevis {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    text-align: center;
    letter-spacing: -0.656526px;

    color: #000000;

}

#monsieur {
    position: absolute;
    width: 68px;
    height: 23px;
    left: 734px;
    top: 920px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #1966B3;


}

#madame {

    position: absolute;
    width: 68px;
    height: 23px;
    left: 576px;
    top: 920px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #1966B3;

}



.choice-quiz-case {
    /* Group 162565 */

    position: absolute;
    width: 1001px;
    height: 74px;
    left: 222px;
    top: 784px;

    /* Rectangle 9563 */

    box-sizing: border-box;

    position: absolute;
    width: 1001px;
    height: 74px;
    left: 222px;
    top: 858px;

    background: #F6F6F6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    transform: matrix(1, 0, 0, -1, 0, 0);


    /* Create custom landin */

    position: absolute;
    width: 154px;
    height: 39px;
    left: 307px;
    top: 802px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: -0.656526px;

    color: #3B3A3A;
    /* Ellipse 59 */

    box-sizing: border-box;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 250px;
    top: 806px;

    background: #FFFFFF;
    border: 1px solid rgba(108, 117, 125, 0.8);


    /* Ellipse 61 */

    position: absolute;
    width: 22px;
    height: 22px;
    left: 254px;
    top: 810px;

    background: #3461AB;

}


.cercle {
    /* Ellipse 1 */
    position: absolute;
    width: 50px;
    height: 50px;
    left: 760px;
    top: 30px;

    /* background: #E20044; */

}


.input_form {
    /* Rectangle 38 */

    box-sizing: border-box;
    width: 400px;
    height: 50px;
    left: calc(50% - 400px/2 - 1px);
    border: 2px solid #3461AB;
    border-radius: 5px;
    display: inline;
    align-items: center;
    justify-content: center;

}


